@model VShopApp.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h5>membership Type: @Model.MembershipType.Name</h5>
@if (Model.BirthDate.HasValue)
{
  <h5>Date of Birth: @Model.BirthDate.Value.ToShortDateString()</h5>
}



