@model List<VShopApp.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Of Customers</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th> Name </th>
        <th>Id</th>
    </tr>

    @foreach (var customer in @Model)
    {
<tr>
    <td>@Html.ActionLink(customer.Name, "Details", new { customer.Id })</td>
    @* <td> @customer.Name </td> *@
    <td>@customer.Id</td>
</tr>
    }
</table>
